@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"),
    url("../fonts/CormorantGaramond-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/CormorantGaramond-MediumItalic.woff2") format("woff2"),
    url("../fonts/CormorantGaramond-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2"),
    url("../fonts/CormorantGaramond-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: "../fonts/Poppins-Regular.woff2" format("woff2"),
        "../fonts/Poppins-Regular.woff" format("woff");
}
